<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link href="./css/styles.css" rel="stylesheet">
</head>

<body>
    {{> header}}
    <div class="main-content">
        <p>
            The ones who aren't able to acknowledge their own selves are bound to fail. - {{name}}
        </p>
    </div>

</body>

{{> footer}}
<script src="./js/index.js"></script>

</html>