<footer>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, porro incidunt, voluptates aut nesciunt
        facilis eaque maiores ex cum eius assumenda! Atque delectus harum placeat minima? Illo quos velit alias.
    </p>
    <p>
        Created By {{name}}
    </p>
</footer>